<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body bgcolor="#FADADD">
<center><h1 style="color:purple;font size:20px"> Log In </h1></center>
  <form action="/login" method="POST">
      <br><center><input type="text" name="email" placeholder="email"></center><br>
      <br><center><input type="password" name="password" placeholder="Password"></center><br>
      <br><center><input type="Submit" value="login"></center><br>
      <br><center><p><a href="/register">clickhere</a> to Register </p></center><br>
</form>

</body>
</html>