
<!DOCTYPE html>
<html lang="en">
<head>
    <title>registration</title>
</head>
<body bgcolor="#b0e0e6">
<center><h1 style="font-color:#000080;font size:20px"> REGISTRATION FOR NEW USER </h1></center>
<form action="/register" method="POST">
    <center><br><input type="text" name="email" placeholder="email"><br></center>
    <center><br><input type="password" name="password" placeholder="Password"><br></center>
    <center><br><input type="password" name="cpassword" placeholder="confirmPassword"><br>  </center>
    <center><br><input type="text" name="User Id" placeholder="first name"><br></center>
    <center><br><input type="text" name="lastname" placeholder="last name"><br></center>
    <center><br><input type="text" name="prn" placeholder="PRN(last three digits only)"><br></center>

    <center><br><input type="Submit" value="register"><br></center>
    <center><p><a href="/login">click here</a> to login if already registerd.</p></center>

</form>

</body>
</html>