 <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_Room</title>
  </head>
  <body bgcolor="sky blue">

  <center><h3 style='color:white;font-size:50px;font-type:Baskerville old Face'>D Y PATIL INTERNATIONAL UNIVERSITY</h3></center>

    <div class="message_holder"></div>

    <form action="" method="POST">
    <input type="hidden" class="username" name = 'username'  value="{{name}}" />
      <center><p >{{name}} connected... .....         <a href="/logout">logout</a> </p></center>
      <center><input type="text" class="message" placeholder="Messages"/> </center>
      <br><center><input type="submit"/></center></br>

    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name =$( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>

  </body>
  </html>